header {
    text-align: center;
    background: #785D56;
    color: #fff;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;

}

.container {
    width: 400px;
    margin: 0 auto;
}

.canvas-container {
    min-height: 300px;
    max-height: 600px;
    position: relative;
}

.widget {
    position: relative;
    margin-bottom: 300px;
    background: #F6F2F1;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #785D56;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
